<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><pre>
      <ul>
       <li>- Frontend is served by nginx over port 8000-HTTP and 8443-HTTPS (self-signed cert) running under the <br />"nginx" user. This is publicly exposed and accessible to the user.
       <li>- Backend is a nodejs application listening on private port 5000 running under the "node" user.
       <li>- Data is save on a MySQL database using the MYSQL_USER/MYSQL_PASSWORD credential. The MYSQL_ROOT_PASSWORD is randomly generated.
    </ul></pre></p>

<p><pre><ul>USAGE:
        <li> /GET http://localhost:8443/ - index site
        <li> /GET http://localhost:8443/users - Main page for showing users record.
        <li> /GET http://localhost:8443/users/get?username=johnd - Search for a user based on the username and return the full name.
        <li> /POST http://localhost:8443/users/set?username=johnd&name=John&lastname=Doe - Expect 3 inputs with key=value format <br />and delimited by '&' ampersand. Gather the inputs and save to the database.
      </ul>
    </pre></p>
  </body>
</html>
